@import './message.css';

.chat {
  column-gap: 5px;
  justify-content: space-between;
  height: 70dvh;
}

.users {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 185px;
}

.user-search {
  display: flex;
  height: 30px;
  margin: 10px;
  padding: 10px;
}

.user-list {
  overflow-y: overlay;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding-inline-start: 20px;
}

.user {
  display: inline-flex;
  width: 90%;
  margin: 5px;
}

.hide {
  display: none;
}

.user.online::before {
  background: rgb(0 160 19);
}

.user::before {
  content: '';

  position: relative;
  top: 4px;
  left: -6px;

  width: 10px;
  height: 10px;
  border-radius: 50%;

  background: rgb(194 151 151);
}

.user:active {
  border-block: solid 6px rgb(0 64 255 / 14.5%);
  border-radius: unset;
}

.history {
  overflow-x: clip;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.selected-user {
  display: flex;
  gap: 20px;
  align-items: center;

  min-height: 40px;
  padding: 0 20px;
  border-bottom: 1px solid;
  border-radius: unset;

  line-height: 40px;

  background: aliceblue;
}

.selected-user .status {
  text-transform: uppercase;
}

.send-message {
  display: flex;
  flex-direction: row;
  gap: 5px;

  height: 50px;
  padding: 10px;
  border-top: 1px solid;
  border-radius: unset;
}

.new-message {
  width: 100%;
  padding: 10px;
  border: unset;
  border-radius: unset;
}

.new-message:focus-visible {
  outline: none;
}
