.wrapper-message {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 3fr;

  max-width: 350px;
  height: fit-content;
  border-radius: unset;

  background: #ffe87756;
  box-shadow: 0 8px 14px #8d8d8d;
}

.wrapper-message.you {
  align-self: end;
  background: #a0ff7756;
}

.message-date {
  grid-column: 2;
  grid-row: 1;
}

.message {
  grid-column: span 2;
  grid-row: 2;

  margin: 0 10px;
  padding-left: 13px;
  border-radius: unset;

  word-break: break-word;

  background: white;
}

.message-status {
  grid-column: 2;
  grid-row: 3;
}

.messages-list {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  row-gap: 11px;
  justify-content: flex-start;
  justify-items: stretch;

  width: 100%;
  padding: 10px 0;
  border-radius: unset;
}

.unread-counter {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: inherit;
  height: max-content;
  margin-left: 24px;
  margin-block-start: unset;
  margin-block-end: unset;

  background: white;
  box-shadow: inset 0 0 3px 0 #ff4700;
}

.unread {
  box-shadow: 0 8px 14px #cb8100;
}

.underline {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

hr {
  overflow: visible;
  width: 100%;
  height: 4px;
  background: orange;
}
