@import './views/login/login.scss';
@import './views/main/styles/main.css';
@import './views/main/styles/mobile.css';

* {
  padding: 0;
  border-radius: 10px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;

  width: calc(100vw - 17px);
  height: calc(100vh - 17px);
}

.ui-button {
  min-width: 100px;
  padding: 10px;
}

.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  border-radius: unset;

  background-color: #42382a4a;
  backdrop-filter: blur(2px);
}

.dialog {
  position: fixed;

  display: flex;
  row-gap: 20px;
  align-items: center;
  justify-content: center;

  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  padding: 20px;

  background: gray;
}

.no-scroll {
  overflow: hidden;
}
