:root {
  --image-src: url();
  --size-game: 5;
  --cell-size: 0px;
  --ceils-x: 0px;
  --ceils-y: 0px;
  --bgColor-main: #2871b1;
  --bg-tips-container: #aed2f1;
  --main-bg: #f0f8ffb5 center / cover no-repeat
    url('./backgrounds/light.jpg?v=2');
  --buttons-bg: field;
}

html {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  min-width: 500px;
}

body {
  /* margin: 0 auto; */
  display: flex;
  max-width: 800px;
  /* width: 100%; */
  /* gap: 20px; */
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
  background: var(--main-bg);
  background-blend-mode: overlay;
}

.menu {
  display: flex;
  background: var(--bgColor-main);
  width: 100%;
  height: 50px;
  padding: 20px 0;
  justify-content: space-around;
  margin-bottom: 20px;
}

.second .load {
  width: 100px;
  height: 100%;
}

.main {
  display: flex;
  background: var(--bgColor-main);
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* /* height: 100vw; */
  /* width: 100vw; */
}
.main_container {
  max-width: 800px;
  max-height: 800px;
  height: 100vw;
  width: 100vw;
  border: solid 5px var(--bgColor-main);
}

.image {
  width: 30%;
  height: 30%;
  background:
    center / cover no-repeat var(--image-src),
    rgb(255, 255, 255);
}

.top_tips {
  display: flex;
  flex-direction: row;
  height: calc(30% - 5px);
  width: 70%;
  background: var(--bg-tips-container);
  gap: 2px;
  border-bottom: solid 5px var(--bg-tips-container);
}

.left_tips {
  display: flex;
  flex-direction: column;
  width: calc(30% - 5px);
  height: 70%;
  background: var(--bg-tips-container);
  gap: 2px;
  border-right: solid 5px var(--bg-tips-container);
}

.top_tip {
  display: flex;
  height: 100%;
  width: 100%;
  background: var(--bgColor-main);
  text-align: end;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
}

.left_tip {
  display: flex;
  height: 100%;
  width: 100%;
  background: var(--bgColor-main);
  text-align: right;
  align-items: center;
  justify-content: flex-end;
}

.cell_container {
  display: flex;
  flex-wrap: wrap;
  height: 70%;
  width: calc(70% + 2px);
  gap: 2px;
  position: relative;
  bottom: var(--ceils-y);
  left: var(--ceils-x);
}

.cell {
  height: var(--cell-size);
  width: var(--cell-size);
  background: #ffffff;
}

.dark_cell {
  background: black;
}

.cross_cell {
  background: center / cover url('./cross.svg');
}

.vertical_bold_line {
  margin-right: 3px;
}

.horizontal_bold_line {
  margin-bottom: 3px;
}

.tipDigit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--cell-size) / var(--size-game) * 3);
  width: calc(var(--cell-size) / var(--size-game) * 3);
  border: solid 2px rgba(240, 248, 255, 0.195);
  border-radius: 50%;
  color: aliceblue;
  margin: 2px;
  font-size: calc(var(--cell-size) / var(--size-game) * 2);
}

.form {
  display: flex;
  align-items: center;
  gap: 5px;
  color: aliceblue;
}

.form select {
  height: 100%;
  width: 80px;
  text-rendering: geometricPrecision;
  text-transform: uppercase;
  text-align: center;
  appearance: none;
  border-radius: 10px;
}
.form select:nth-child(3) {
  width: 120px;
}

.menu button {
  width: 70px;
  border-radius: 10px;
}

.disabled {
  pointer-events: none;
  opacity: 0.1;
}

.time {
  display: flex;
  align-items: center;
  color: aliceblue;
  gap: 5px;
  font-size: xx-large;
}

.message_container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: #0c121891;
  width: 100%;
  height: 100%;
}

.message_window {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 431px;
  height: 93px;
  background: aliceblue;
  text-align: center;
  font-size: xx-large;
}

.tablePanel {
  display: none;
  position: fixed;
  align-items: flex-start;
  justify-content: center;
  top: -300px;
  left: 0;
  width: 100%;
  height: 300px;
  transform: translateY(-300px);
  background: #aeb9f1;
  transition: transform 800ms;
}

.tablePanel_background {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #0c121891;
}

.visible {
  display: flex;
}

.move_tablePanel {
  transform: translateY(300px);
}

.tableScore {
  width: 400px;
  margin-top: 30px;
  font-family: sans-serif;
  font-size: medium;
  text-align: center;
  text-transform: capitalize;
}

caption {
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

thead {
  height: 30px;
  background-color: rgb(228 240 245);
}

tr {
  border: 2px solid rgb(140 140 140);
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242 / 30%);
}

.sound {
  height: 50px;
  width: 50px;
  background-image: url('./sound.svg');
  background-size: cover;
  background-color: #ffffff8a;
  border-radius: 50%;
}

.muted {
  background-image: url('./sound-off.svg');
  opacity: 0.2;
}

.theme {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background:
    center / 80% no-repeat url('./light-bulb.svg'),
    #ffffff8a;
}

.dark {
  background-image: url('./bulb.svg');
  opacity: 0.2;
}

button,
select {
  background-color: var(--buttons-bg);
  border: none;
}
