.optionsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type :none;
}

.csv_dialog {
  position:fixed;

  display: flex;
  flex-direction: column;
  align-self: anchor-center;

  width: 600px;
  height: 300px;

  background: gray;
}
