:root {
  --cell-width: 20px;
}

.mainOptions {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: center;

  list-style-type: none;
}

.optionsList {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: center;

  list-style-type: none;
}

.csv_dialog {
  position: fixed;

  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-self: anchor-center;

  width: 600px;
  height: 260px;
  margin: 0 auto;

  background: gray;
}

.option {
  display: flex;
  column-gap: 5px;

  padding: 5px;
  border-radius: 10px;

  background: linear-gradient(#6e658d, #5d5b79);
}

.option_id {
  flex-shrink: 0;
  width: var(--cell-width);
}

.option_title {
  flex-shrink: 1;
  width: 100%;
}

.option_weight {
  flex-shrink: 1;
  width: 100%;
}

.btn-container {
  display: flex;
}

.error_dialog {
  position: fixed;

  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-self: anchor-center;

  width: 600px;
  height: 100px;
  margin: 0 auto;

  background: gray;
}

.dialog-textarea {
  resize: none;
}
